# Prerequisites
*.d218344432

# Compiled Object files
*.slo/319/33419
*.lo
*.olo
*.obj
*.
# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk/2112

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
,owajms2026
